<div class="pagination" *ngIf="totalPages > 1">

  <button
    mat-icon-button
    class="nav-btn"
    (click)="prev()"
    [disabled]="currentPage === 1">

    <mat-icon>chevron_left</mat-icon>
  </button>

  <div class="page-numbers">
    <button
      mat-button
      class="page-btn"
      *ngFor="let page of visiblePages"
      (click)="goTo(page)"
      [class.active]="currentPage === page">

      {{ page }}
    </button>
  </div>

  <button
    mat-icon-button
    class="nav-btn"
    (click)="next()"
    [disabled]="currentPage === totalPages">

    <mat-icon>chevron_right</mat-icon>
  </button>

</div>
