.not-found {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 72px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.content p {
  margin: 10px 0 30px;
  font-size: 16px;
  color: #666;
}
