<mat-card
  class="thread-card"
  *ngFor="let thread of threads"
  (click)="openThread(thread.id)">

  <div class="thread-content">

    <div class="thread-main">

      <div class="thread-meta">
        <span class="author">@{{ thread.username }}</span>
        <span class="dot">•</span>
        <span>{{ thread.createdAt | date:'dd.MM.yyyy' }}</span>
        <span class="dot">•</span>
        <span class="category">{{ thread.category }}</span>
      </div>

      <h3 class="thread-title">
        {{ thread.title }}
      </h3>

    </div>

    <div class="thread-stats">
      <mat-icon>chat_bubble_outline</mat-icon>
      <span>{{ thread.postsCount }}</span>
    </div>

  </div>

</mat-card>
