<mat-card
  class="topic-card"
  (click)="openThread(thread.id)"
  *ngFor="let thread of paginatedThreads">

  <div class="topic-header">

    <div>
      <span class="meta">
        by <strong>{{ thread.username }}</strong>
        • {{ thread.createdAt | date:'dd.MM.yyyy' }}
        • {{ thread.category }}
      </span>

      <h3>{{ thread.title }}</h3>
    </div>

    <div class="topic-stats">
      <mat-icon>chat</mat-icon>
      <span>{{ thread.postsCount }}</span>
    </div>

  </div>

</mat-card>