.thread-feed {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 24px 32px;
  min-height: 100vh;
}

.thread-feed app-thread-list {
  flex: 1 1 auto;
  overflow-y: auto;
}

.thread-feed app-pagination {
  flex: 0 0 auto;
  margin-top: 16px;
  align-self: center;
  padding: 15px;
}
